# Виртуальное окружение
.venv/
venv/
env/

# Python кэш и компилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы Mac
.DS_Store

# Базы данных и личные файлы (НЕ ЗАЛИВАТЬ!)
user_db.json
inbox.json

# Ключи шифрования (ОЧЕНЬ ВАЖНО СКРЫТЬ!)
keys/
*.pem

# Загруженные файлы
src/uploads/
uploads/

